@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
.main {
  width: 1440px;
  background: #FFFFFF;
}

.header {
  display: flex;
}

.header-title {
  font-family: "Josefin Sans";
  font-size: 24px;
  padding-left: 165px;
  padding-right: 213px;
  padding-top: 60px;
}
@media screen and (max-width: 1290px) {
  .header-title {
    padding-right: 60px;
  }
}
@media screen and (max-width: 1115px) {
  .header-title {
    padding-left: 40px;
  }
}
@media screen and (max-width: 479px) {
  .header-title {
    padding-top: 32px;
    padding-left: 15px;
    font-size: 20px;
  }
}

.header-menu {
  padding-top: 64px;
}
.header-menu a {
  padding-right: 40px;
  font-family: "Inter";
  font-size: 16px;
  text-decoration: none;
  color: #35414B;
}
.header-menu a img {
  vertical-align: middle;
}
@media screen and (max-width: 988px) {
  .header-menu {
    display: none;
  }
}

.header-login a {
  padding-left: 55px;
  padding-right: 16px;
  font-family: "Inter";
  text-decoration: none;
  font-size: 16px;
  color: #35414B;
}
.header-login button {
  margin-top: 48px;
  margin-right: 165px;
  padding: 16px 24px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #794CFF;
  background-color: #ECE6FF;
  border-radius: 4px;
  border: 1px solid #F0EBFA;
}
@media screen and (max-width: 988px) {
  .header-login {
    display: none;
  }
}

.header-burgermenu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-self: flex-end;
  margin-bottom: -13px;
}
.header-burgermenu span {
  margin-bottom: -7px;
  margin-left: -1px;
  font-size: 25px;
  color: #35414B;
}
.header-burgermenu a {
  font-family: "Inter";
  font-size: 9px;
  text-decoration: none;
  color: #4E5A65;
}
.header-burgermenu .icon-menu::before {
  content: "\e9bd";
}
@media screen and (min-width: 989px) {
  .header-burgermenu {
    display: none;
  }
}
@media screen and (max-width: 830px) {
  .header-burgermenu {
    margin-right: 760px;
  }
}
@media screen and (max-width: 680px) {
  .header-burgermenu {
    margin-right: 960px;
  }
}
@media screen and (max-width: 479px) {
  .header-burgermenu {
    margin-right: 1060px;
    margin-top: 32px;
    margin-right: 1040px;
  }
}

.title .title-sales {
  text-align: center;
  font-family: "Inter";
  padding-top: 116px;
}
@media screen and (max-width: 885px) {
  .title .title-sales {
    padding-right: 443px;
  }
}
@media screen and (max-width: 665px) {
  .title .title-sales {
    padding-right: 827px;
  }
}
@media screen and (max-width: 480px) {
  .title .title-sales {
    text-align: start;
    margin-left: 127px;
  }
}
.title .title-sales span {
  background: #81C43B;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .title .title-sales span {
    display: none;
  }
}
.title .title-sales a {
  background: #F2F9EB;
  border-radius: 0px 100px 100px 0px;
  font-weight: 400;
  padding: 8px;
  padding-left: 10px;
  padding-right: 11px;
  color: #35414B;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .title .title-sales a {
    border-radius: 100px;
    font-size: 13px;
    padding: 4px 24px;
  }
}
.title .title-sales img {
  padding-left: 4px;
}
.title .title-h1 {
  font-family: "Inter";
}
.title .title-h1 h1 {
  font-weight: 600;
  font-size: 64px;
  text-align: center;
  padding-top: 24px;
  padding-right: 340px;
  padding-left: 340px;
  color: #35414B;
}
@media screen and (max-width: 1096px) {
  .title .title-h1 h1 {
    padding-left: 100px;
    padding-right: 560px;
  }
}
@media screen and (max-width: 885px) {
  .title .title-h1 h1 {
    padding-right: 850px;
  }
}
@media screen and (max-width: 558px) {
  .title .title-h1 h1 {
    font-size: 32px;
    padding-left: 48px;
    padding-right: 1064px;
    padding-top: 20px;
  }
}
.title .title-h1 p {
  font-weight: 400;
  font-size: 16px;
  padding-top: 24px;
  padding-left: 467px;
  padding-right: 468px;
  text-align: center;
  line-height: 24px;
  color: #4E5A65;
}
@media screen and (max-width: 1096px) {
  .title .title-h1 p {
    padding-left: 100px;
    padding-right: 560px;
  }
}
@media screen and (max-width: 885px) {
  .title .title-h1 p {
    padding-right: 850px;
  }
}
@media screen and (max-width: 558px) {
  .title .title-h1 p {
    font-size: 16px;
    padding-left: 48px;
    padding-right: 1064px;
  }
}
.title .title-email {
  padding-top: 24px;
  text-align: center;
}
@media screen and (max-width: 1096px) {
  .title .title-email {
    text-align: start;
  }
}
@media screen and (max-width: 480px) {
  .title .title-email {
    display: block;
    display: flex;
    flex-direction: column;
  }
}
.title .title-email input {
  background: #FBFAFE;
  border: 1px solid #F0EBFA;
  color: #97A5B5;
  padding: 18px 0;
  padding-left: 24px;
  padding-right: 99px;
  font-size: 16px;
  width: 319px;
}
@media screen and (max-width: 480px) {
  .title .title-email input {
    padding: 18px 64px;
    margin-left: 48px;
    margin-bottom: 8px;
  }
}
.title .title-email button {
  font-weight: 500;
  font-size: 16px;
  background: #794CFF;
  border: 1px solid #794CFF;
  border-radius: 0px 4px 4px 0px;
  padding: 18px 45px;
  color: white;
  margin-left: -4px;
}
@media screen and (max-width: 480px) {
  .title .title-email button {
    margin-left: 48px;
    width: 318px;
    height: 52px;
    border-radius: 4px;
  }
}

.schedule {
  padding: 0 260px;
  padding-top: 48px;
}
@media screen and (max-width: 1145px) {
  .schedule {
    padding: 0 15px;
    padding-top: 32px;
  }
}
.schedule img {
  width: 920px;
  height: 654px;
}
@media screen and (max-width: 900px) {
  .schedule img {
    width: 384px;
    height: 273px;
  }
}

.social-media {
  padding-bottom: 55px;
}
.social-media p {
  font-family: "Inter";
  font-size: 16px;
  text-align: center;
  color: #4E5A65;
  padding-top: 100px;
}
.social-media p span {
  font-weight: 700;
}
@media screen and (max-width: 926px) {
  .social-media p {
    text-align: left;
    padding-left: 62px;
    padding-top: 56px;
    font-size: 11px;
  }
}
.social-media .social-icons {
  display: flex;
  justify-content: center;
  padding-top: 29px;
}
@media screen and (max-width: 1185px) {
  .social-media .social-icons {
    justify-content: left;
  }
}
.social-media .social-icons a {
  padding-right: 132px;
}
@media screen and (max-width: 521px) {
  .social-media .social-icons a:first-child {
    padding-left: 48px;
  }
}
.social-media .social-icons a img {
  width: 80px;
}
@media screen and (max-width: 521px) {
  .social-media .social-icons a img {
    width: 55px;
  }
}
.social-media .social-icons a:last-child {
  padding-right: 0;
}
@media screen and (max-width: 521px) {
  .social-media .social-icons a:last-child {
    display: none;
  }
}
@media screen and (max-width: 926px) {
  .social-media .social-icons a {
    padding-right: 32px;
    padding-top: 16px;
  }
}

.content {
  background-color: #FBFAFE;
  display: flex;
  font-family: "Inter";
}
@media screen and (max-width: 800px) {
  .content {
    display: block;
  }
}
.content .content-dialog {
  padding: 65px 0;
  padding-left: 165px;
  padding-right: 112px;
}
@media screen and (max-width: 1200px) {
  .content .content-dialog {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 32px;
    padding-bottom: 0;
  }
}
.content .content-dialog img {
  width: 657px;
  height: 518px;
}
@media screen and (max-width: 1100px) {
  .content .content-dialog img {
    width: 384px;
    height: 303px;
  }
}
.content .content-column {
  padding-top: 103px;
}
@media screen and (max-width: 800px) {
  .content .content-column {
    padding-top: 32px;
  }
}
.content .content-column section {
  height: 128px;
  width: 372px;
  padding: 0 25px;
}
.content .content-column section:hover {
  border-left: 8px solid #794CFF;
  background: #F6F3FC;
}
@media screen and (max-width: 800px) {
  .content .content-column section {
    text-align: center;
    margin-left: 15px;
    width: 384px;
    height: 112px;
    border-bottom: 1px solid #F0EBFA;
  }
  .content .content-column section:hover {
    border-left: none;
    border-bottom: 8px solid #794CFF;
  }
}
.content .content-column section li {
  font-size: 16px;
  color: #4E5A65;
  line-height: 24px;
}
.content .content-column section li p {
  font-size: 18px;
  font-weight: 600;
  color: #35414B;
  padding-bottom: 10px;
  padding-top: 25px;
}

.info {
  font-family: "Inter";
  padding: 100px 165px;
}
@media screen and (max-width: 1250px) {
  .info {
    padding: 100px 0px;
  }
}
@media screen and (max-width: 655px) {
  .info {
    padding-top: 50px;
    padding-bottom: 48px;
  }
}
.info h2 {
  font-weight: 600;
  font-size: 40px;
  color: #35414B;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .info h2 {
    text-align: left;
  }
}
@media screen and (max-width: 655px) {
  .info h2 {
    font-size: 18px;
    font-weight: 600;
    padding-left: 108px;
  }
}
.info .info-firstline, .info .info-secondline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .info .info-firstline, .info .info-secondline {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .info .info-firstline, .info .info-secondline {
    justify-content: left;
  }
}
.info .info-firstline section, .info .info-secondline section {
  flex-basis: 30%;
}
.info .info-firstline section:last-child, .info .info-secondline section:last-child {
  padding-right: 0;
}
@media screen and (max-width: 1250px) {
  .info .info-firstline section, .info .info-secondline section {
    flex-basis: 15%;
  }
}
.info .info-firstline section img, .info .info-secondline section img {
  padding-top: 56px;
  padding-bottom: 24px;
}
.info .info-firstline section p, .info .info-secondline section p {
  font-size: 16px;
  color: #4E5A65;
  line-height: 24px;
}
.info .info-firstline section .bold, .info .info-secondline section .bold {
  font-weight: 600;
  font-size: 18px;
  color: #35414B;
  padding-bottom: 8px;
}
.info .info-firstline {
  padding-bottom: 25px;
}
@media screen and (min-width: 656px) {
  .info .info-firstline button {
    display: none;
  }
}
@media screen and (max-width: 655px) {
  .info .info-firstline {
    flex-direction: column;
    display: block;
  }
  .info .info-firstline section {
    width: 25%;
    text-align: center;
    padding-left: 50px;
  }
  .info .info-firstline section img {
    width: 48px;
  }
  .info .info-firstline button {
    width: 318px;
    height: 52px;
    background: #ECE5FF;
    border: 1px solid #ECE5FF;
    border-radius: 4px;
    color: #7259FA;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 58px;
    margin-left: 48px;
  }
}
@media screen and (max-width: 655px) {
  .info .info-secondline {
    display: none;
  }
}

.work {
  display: flex;
  font-family: "Inter";
  background: #FBFAFE;
}
@media screen and (max-width: 833px) {
  .work {
    flex-direction: column-reverse;
  }
}
.work .work-info {
  padding-left: 165px;
  padding-top: 132px;
  padding-bottom: 132px;
}
@media screen and (max-width: 1250px) {
  .work .work-info {
    padding-left: 46px;
    flex-basis: 30%;
  }
}
@media screen and (max-width: 833px) {
  .work .work-info {
    display: block;
    width: 25%;
    padding-top: 32px;
    padding-left: 46px;
    padding-bottom: 32px;
  }
}
.work .work-info h3 {
  font-weight: 600;
  font-size: 40px;
  color: #35414B;
  padding-bottom: 24px;
}
@media screen and (max-width: 833px) {
  .work .work-info h3 {
    font-size: 18px;
    text-align: center;
    width: 63%;
    margin-left: 64px;
    padding-bottom: 16px;
  }
}
.work .work-info p {
  font-size: 16px;
  line-height: 24px;
  color: #4E5A65;
  padding-bottom: 32px;
}
@media screen and (max-width: 833px) {
  .work .work-info p {
    text-align: center;
    padding-bottom: 16px;
  }
}
.work .work-info button {
  width: 164px;
  height: 52px;
  background: #796EFF;
  border-radius: 4px;
  font-weight: 500;
  color: white;
  text-align: center;
  border: solid 0;
}
@media screen and (max-width: 833px) {
  .work .work-info button {
    width: 318px;
  }
}
.work .work-graph {
  padding: 67px 0;
  padding-right: 175px;
  padding-left: 90px;
}
@media screen and (max-width: 1250px) {
  .work .work-graph {
    padding: 32px 15px 0 15px;
  }
}
@media screen and (max-width: 1250px) {
  .work .work-graph img {
    width: 384px;
    height: 260px;
  }
}

.reviews {
  margin: 0 auto;
  font-family: "Inter";
}
.reviews h4 {
  font-weight: 600;
  font-size: 40px;
  color: #35414B;
  text-align: center;
  width: 30%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 48px;
}
@media screen and (max-width: 1120px) {
  .reviews h4 {
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  .reviews h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    width: 15%;
    padding-top: 56px;
    padding-bottom: 40px;
    margin-left: 95px;
  }
}
.reviews p {
  font-size: 18px;
  line-height: 32px;
  color: #4E5A65;
  text-align: center;
  width: 37%;
  margin: auto;
  padding-bottom: 48px;
}
@media screen and (max-width: 1120px) {
  .reviews p {
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  .reviews p {
    padding-bottom: 12px;
    width: 26%;
    padding-left: 39px;
  }
}
.reviews .reviews-people {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1250px) {
  .reviews .reviews-people {
    justify-content: center;
  }
}
@media screen and (max-width: 1120px) {
  .reviews .reviews-people {
    justify-content: left;
  }
}
.reviews .reviews-people .reviews-people-person1, .reviews .reviews-people .reviews-people-person2, .reviews .reviews-people .reviews-people-person3 {
  display: flex;
  width: 264px;
  padding-top: 28px;
}
.reviews .reviews-people .reviews-people-person1:hover, .reviews .reviews-people .reviews-people-person2:hover, .reviews .reviews-people .reviews-people-person3:hover {
  border-top: 4px solid #35414B;
}
.reviews .reviews-people .reviews-people-person1 img, .reviews .reviews-people .reviews-people-person2 img, .reviews .reviews-people .reviews-people-person3 img {
  padding-right: 16px;
}
.reviews .reviews-people .reviews-people-person1 span, .reviews .reviews-people .reviews-people-person2 span, .reviews .reviews-people .reviews-people-person3 span {
  font-weight: 600;
  font-size: 16px;
  color: #4E5A65;
}
.reviews .reviews-people .reviews-people-person1 p, .reviews .reviews-people .reviews-people-person2 p, .reviews .reviews-people .reviews-people-person3 p {
  font-size: 16px;
  width: 100%;
  color: #4E5A65;
  padding-bottom: 100px;
}
@media screen and (max-width: 800px) {
  .reviews .reviews-people .reviews-people-person1 p, .reviews .reviews-people .reviews-people-person2 p, .reviews .reviews-people .reviews-people-person3 p {
    padding-bottom: 40px;
    padding-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .reviews .reviews-people .reviews-people-person2, .reviews .reviews-people .reviews-people-person3 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .reviews .reviews-people .reviews-people-person1 {
    flex-direction: column;
    text-align: center;
    margin-left: 75px;
  }
  .reviews .reviews-people .reviews-people-person1 img {
    padding-right: 0;
    padding-bottom: 9px;
  }
}
.reviews .reviews-form {
  margin: auto;
  text-align: center;
  align-items: center;
  width: 1110px;
  height: 224px;
  background-color: #796EFF;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1250px) {
  .reviews .reviews-form {
    width: 800px;
  }
}
@media screen and (max-width: 1120px) {
  .reviews .reviews-form {
    justify-content: left;
    margin: 0;
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 800px) {
  .reviews .reviews-form {
    width: 414px;
    height: 292px;
    flex-direction: column;
    border-radius: 0;
    margin-bottom: 56px;
  }
}
.reviews .reviews-form .reviews-form-text {
  padding-left: 80px;
}
@media screen and (max-width: 800px) {
  .reviews .reviews-form .reviews-form-text {
    padding: 32px 46px;
  }
}
.reviews .reviews-form .reviews-form-getapp {
  padding-right: 80px;
}
@media screen and (max-width: 800px) {
  .reviews .reviews-form .reviews-form-getapp {
    width: 50%;
  }
}
.reviews .reviews-form section {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: white;
  width: 50%;
}
@media screen and (max-width: 800px) {
  .reviews .reviews-form section {
    font-size: 24px;
    line-height: 32px;
    width: 100%;
  }
}
.reviews .reviews-form section a {
  width: 180px;
  height: 53px;
}
@media screen and (max-width: 800px) {
  .reviews .reviews-form section a img {
    margin-bottom: 20px;
  }
}

.footer {
  display: flex;
  background-color: #1D2830;
  color: white;
  font-family: "Inter";
  justify-content: space-evenly;
  border-bottom: 1px solid white;
}
@media screen and (max-width: 1250px) {
  .footer {
    justify-content: center;
  }
}
@media screen and (max-width: 1120px) {
  .footer {
    justify-content: left;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
  }
}
.footer div {
  padding-bottom: 80px;
}
@media screen and (max-width: 1250px) {
  .footer div {
    padding-right: 40px;
  }
}
@media screen and (max-width: 1120px) {
  .footer div:first-child {
    padding-left: 40px;
  }
}
@media screen and (max-width: 800px) {
  .footer div {
    padding-left: 46px;
    padding-top: 32px;
    padding-bottom: 0;
    padding-right: 0;
  }
  .footer div:first-child {
    padding-top: 48px;
    padding-left: 46px;
  }
}
.footer h5 {
  padding-top: 80px;
  font-weight: 600;
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  .footer h5 {
    padding-top: 0;
  }
}
@media screen and (max-width: 800px) {
  .footer ul {
    visibility: hidden;
    position: absolute;
  }
}
.footer li {
  padding-top: 24px;
}
.footer .footer-app {
  display: flex;
  flex-direction: column;
}
.footer .footer-app a {
  padding-bottom: 17px;
}
.footer .footer-app a:nth-child(2) {
  padding-top: 24px;
}

.footer-social-media {
  padding: 33px 165px;
  display: flex;
  vertical-align: middle;
  background-color: #1D2830;
  color: white;
  font-family: "Inter";
  font-size: 14px;
  justify-content: space-between;
}
@media screen and (max-width: 1250px) {
  .footer-social-media {
    justify-content: center;
  }
}
@media screen and (max-width: 1120px) {
  .footer-social-media {
    justify-content: left;
  }
}
@media screen and (max-width: 635px) {
  .footer-social-media {
    padding-left: 46px;
  }
}
.footer-social-media a {
  padding-right: 24px;
}
.footer-social-media a img {
  margin-top: -8px;
}
.footer-social-media section {
  vertical-align: middle;
}
@media screen and (max-width: 1250px) {
  .footer-social-media section {
    padding-right: 40px;
  }
}
@media screen and (max-width: 635px) {
  .footer-social-media .footer-social-media-a {
    display: none;
  }
}

.footer-vector {
  position: relative;
}
@media screen and (min-width: 801px) {
  .footer-vector {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .footer-vector {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 306px;
  }
  .footer-vector img {
    color: white;
    width: 16px;
    padding-bottom: 32px;
  }
  .footer-vector img:first-child {
    padding-top: 25px;
  }
}/*# sourceMappingURL=style.css.map */